*::after,*::before{
	box-sizing: border-box;
}

html{
	height:100%;
	width:100%;
}
body{
	width: 100%;
	height:100%;
	margin:0;
	padding:0;
	background-color: rgb(17,17,17);
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}

				/* NAVIGATION BAR CSS BEGINS HERE*/
nav{
	height:5em;
	width:100%;
	background-color: rgb(41,41,41);
	border-bottom:0.15em solid rgb(221,221,221); 
	position: fixed;
	z-index:5;
}

#navstill{
	position: fixed;
	width:15em;
	height:5em;
	z-index:9;
	float: left;
	background-color: rgb(41,41,41) ;
}
#navbut{
	position:relative;
	z-index:5;	
	margin-left:0.8em;
	margin-top:0.7rem;
	margin-right: 0;
	float:left;
	display: block;
	padding:0;
}
#nav-span{
	background-color:white;
	height:0.3rem;
	width:1em;
	font-size: 2em;
	margin-top:0.5rem;
	margin-left:0;
	margin-right:0;
}

#logo{
	position:relative;
	z-index:5;
	font-size:2em;
	margin-left:0.5em;
	margin-top:0.5em;  
	float: left;
	color:red;
}

		/* NAVIGATION BAR CSS ENDS HERE*/

#main-body{
	display: flex;
	flex-direction: column;
	position:fixed;
	z-index: 5;
	background-color: rgb(17,17,17);
}
				/* SEARCH BOX CSS BEGINS HERE*/

#search{
	float:left;
	width:99.5%;
	height:2.5em;
	background-color: rgb(241,241,241);
	top:5.2em;
	z-index: 5;
	position: fixed;
	border:0.1rem solid blue;
	font-size:1em;
	padding:0;
}
#search:hover{
	-webkit-box-shadow: 0 0 10px #3366FF;
        box-shadow: 0 0 10px #3366FF;
}

			/* SEARCH BOX CSS ENDS HERE*/
				/* SIDE BAR CSS BEGINS HERE*/

#sidebar{
	width:15%;
	height:100%;
	z-index:7;
	position:fixed;
	background-color: rgb(17,17,17);
	transition: all 500ms linear;
	padding:0;
	margin:0;
	display:none;

}

#side-head{
	background-color: rgb(41,41,41);
	height:5em;
	width:100%;
	padding:0;
	margin:0;
}

#side-body{
	height:100%;
	width:100%;
	background-color:black;
	padding:0;
	margin:0;
}

			/* SIDE BAR CSS ENDS HERE*/
			/*  FILTER BAR BEGINS HERE*/
#filter-bar{
	position: fixed;
	z-index:5;
	top:8em;
	float:left;
	width:100%;
	background-color: rgb(17,17,17);
	display: flex;
}

#filter-bar a{
	z-index:1;
	background-color: white;
	font-size:1.5em;
	padding-top:0.2%;
	padding-bottom:0.2%;
	color:black;
	border:0.1em solid rgb(125,197,255);
	border-radius:16px;
	margin:0;
	float: left;
	width:33%;	
	text-align: center;
}

#filter-bar a:hover
{
	background-color: rgb(235,246,265);
}
				/* FILTER BAR ENDS HERE*/

		/*  ADD TASK BEGINS HERE*/
#add{
	z-index:5;
	width:99.5%;
	position:fixed;
	background-color: rgb(245,245,245);
	top:8.7em;
	color:black;
	text-align: center;
	padding-top:0.7em;
	padding-bottom: 0.7em;
	font-size:23px; 
	border:0.15rem dashed green;
	border-radius:2%;
	
}
#add:hover{
	background-color:#CCFFCC; 
}
		/*  ADD TASK ENDS HERE*/

#head-section{
	position: fixed;
	width:100%;
	top:9.48em;
	height:2em;
	background-color: #9933FF;
	float:left;
	z-index: 5;
	display: flex;
	padding: 0;
}

#head-section li{
	color:black;
	font-size:25px;
}

/*POPUP BEGINS HERE*/
#popup{
    position: absolute;
    z-index:10;
    left:8%;
    top:15%;
    width:85%;
    height:32em;
    background-color:gray;
    border: 2px solid black;
    display:none;
}

#pop-head{
    width:100%;
    background-color:red;
    text-align:center;
    margin:0;
}

#pop-head p{
    display: inline-block;
    font-size: 25px;
    margin-top:2px;
    margin-bottom:4px;
}

#pop-exit{
    float: right;
    padding-right:5px;
    font-family:Arial, Helvetica, sans-serif;
    border-radius:50%;
    margin-top:0;
    padding:0 0.4rem;    
	margin-right:0.5rem;
	cursor: pointer;
}

#pop-exit:hover{
    background-color: rgb(221,221,221);
}


#col1{
    width:50%;
    display: block;
    padding-top:2em;  
    float:left;  
}
#col2{
    width:50%;
    margin:0;
    float:left;
    height:60%;
}

.col1-div{
    margin-left:2%;
    font-size: 25px;
    margin-bottom:2em;
}
.col1-div input{
    height:2em;
}

.col2-div{
    font-size:25px;
    margin-left:2em;
    padding-top:1em;
    margin-left:2%;
}

			/*  POPUP ENDS HERE*/

#task-area{
	width:98%;
	height:100%;
	background-color: rgb(17,17,17);
	z-index:0;
	position:relative;
	padding:2em 0.5em;
	top:16em;
	overflow-x: hidden;
}