*::after,*::before{
    box-sizing: border-box;
}

html{
    height:100%;
    width:100%;
}
body{
    width:100%;
    height:100%;
}

#popup{
    position: absolute;
    z-index:10;
    left:8%;
    top:15%;
    width:85%;
    height:32em;
    background-color:gray;
    border: 2px solid black;
    display:inline-block;
}

#pop-head{
    width:100%;
    background-color:red;
    text-align:center;
    margin:0;
}

#pop-head p{
    display: inline-block;
    font-size: 25px;
    margin-top:2px;
    margin-bottom:4px;
}

#pop-exit{
    float: right;
    padding-right:5px;
    font-family:Arial, Helvetica, sans-serif;
    border-radius:50%;
    margin-top:0;
    padding:0 0.4rem;    
    margin-right:0.5rem;
}

#pop-exit:hover{
    background-color: rgb(221,221,221);
}


#col1{
    width:50%;
    display: block;
    padding-top:2em;  
    float:left;  
}
#col2{
    width:50%;
    margin:0;
    float:left;
    height:60%;
}

.col1-div{
    margin-left:2%;
    font-size: 25px;
    margin-bottom:2em;
}
.col1-div input{
    height:2em;
}

.col2-div{
    font-size:25px;
    margin-left:2em;
    padding-top:1em;
    margin-left:2%;
}
